<div class="add_profile">
  <%= form_for(@profile) do |f| %>

    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<% if @profile.profile_type == 'INDIVIDUAL' ||  @profile.profile_type == 'GUEST' ||  @profile.profile_type == 'AGENT'%>

      <table id="profile_add_table">
          <tr>
            <th>Client Type</th>
            <td> <%= f.select(:profile_type, profile_types)%></td>
            <th>Client Since</th>
            <td> <%= f.text_field :client_since, value: @profile.client_since.to_time.to_s(:long), tabindex: 1 %></td>
          </tr>
          <tr>
            <th>First name</th>
            <td><%= f.text_field :first_name, tabindex: 2 %></td>

            <th id="gender_column">Gender</th>
            <td><%= f.select :gender, gender_types, {}, tabindex: 5 %></td>           
          </tr>
          <tr>
            <th>Last name</th>  
            <td><%= f.text_field :last_name, tabindex: 3 %></td>

            <th>Birth day</th>
            <td><%= f.text_field :birth_day, tabindex: 6 %></td>

          </tr>
          <tr>
            <th>Middle name</th>
            <td><%= f.text_field :middle_name, tabindex: 4 %></td>

            <th>Email</th>
            <td><%= f.email_field :email, tabindex: 7 %></td>

          </tr>
          <tr>
            <th>Nationality</th>
            <td colspan="3"><%= f.country_select :nationality,main_country_list, {}, tabindex: 8 %></td>
          </tr>
          <tr>
            <td colspan="4"><%= f.submit 'Save', id: 'new_profile_save_button', tabindex: 9 %></td>
          </tr>
      </table>
<% end %>

<% if @profile.profile_type == 'CORPORATE' %>

      <table id="profile_add_table">
          <tr>
            <th>Client Type</th>
            <td> <%= f.select(:profile_type, profile_types)%></td>
            <th>Client Since</th>
            <td> <%= f.text_field :client_since, value: @profile.client_since.to_time.to_s(:long), tabindex: 1 %></td>
          </tr>
          <tr>
            <th>Company Name</th>
            <td class="name"><%= f.text_field :name, tabindex: 2  %></td>
            <th>Business Type</th>
            <td class="name"><%= f.text_field :business_type, tabindex: 3 %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= f.email_field :email, tabindex: 4 %></td>
            <th>Contact Person</th>
            <td><%= f.text_field :contact_person, tabindex: 5%></td>
          </tr>
          <tr>
            <th>Credit Limit</th>
            <td><%= f.number_field :credit_limit, tabindex: 6 %></td>
            <th>Terms</th>
            <td><%= f.text_field :terms, tabindex: 7 %></td>
          </tr>
          <tr>
            <td colspan="4"><%= f.submit 'Save', id: 'new_profile_save_button', tabindex: 8 %></td>
          </tr>
      </table>

<% end %>

<%= f.hidden_field :profile_type %>
<% end %>
  <%= link_to 'Cancel', '', id: "hide_new_profile_row_link"%>
</div>
