<div class="add_profile" style="display:none;">
  
  <%= form_for(@profile) do |f| %>

    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<% if @profile.profile_type == 'INDIVIDUAL' ||  @profile.profile_type == 'GUEST' ||  @profile.profile_type == 'AGENT'%>

      <table id="profile_add_table">
          <tr>
            <th>Client Type</th>
            <td> <%= @profile.profile_type %></td>
            <th>Client Since</th>
            <td> <%= f.date_field :client_since %></td>
          </tr>
          <tr>
            <th>First name</th>
            <td><%= f.text_field :first_name %></td>

            <th id="gender_column">Gender</th>
            <td><%= f.select :gender, gender_types %></td>           
          </tr>
          <tr>
            <th>Last name</th>  
            <td><%= f.text_field :last_name %></td>

            <th>Birth day</th>
            <td><%= f.date_field :birth_day %></td>

          </tr>
          <tr>
            <th>Middle name</th>
            <td><%= f.text_field :middle_name %></td>

            <th>Email</th>
            <td><%= f.email_field :email %></td>

          </tr>
          <tr>
            <th>Nationality</th>
            <td colspan="3"><%= f.country_select :nationality,main_country_list %></td>
          </tr>
          <tr>
            <td colspan="4"><%= f.submit 'Save', id: 'new_profile_save_button' %></td>
          </tr>
      </table>
<% end %>

<% if @profile.profile_type == 'CORPORATE' %>

      <table id="profile_add_table">
          <tr>
            <th>Client Type</th>
            <td> <%= @profile.profile_type %></td>
            <th>Client Since</th>
            <td> <%= f.date_field :client_since %></td>
          </tr>
          <tr>
            <th>Company Name</th>
            <td class="name"><%= f.text_field :name %></td>
            <th>Business Type</th>
            <td class="name"><%= f.text_field :business_type %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= f.email_field :email %></td>
            <th>Contact Person</th>
            <td><%= f.text_field :contact_person%></td>
          </tr>
          <tr>
            <th>Credit Limit</th>
            <td><%= f.number_field :credit_limit %></td>
            <th>Terms</th>
            <td><%= f.text_field :terms %></td>
          </tr>
          <tr>
            <td colspan="4"><%= f.submit 'Save', id: 'new_profile_save_button' %></td>
          </tr>
      </table>

<% end %>

<%= f.hidden_field :profile_type %>
<% end %>
  <%= link_to 'Cancel', '', id: "hide_new_profile_row_link"%>
</div>