

<div class="profile_show_section">



<% if @profile.profile_type == 'AGENT' || @profile.profile_type == 'INDIVIDUAL' || @profile.profile_type == 'GUEST' %>

  <h2 class="hidden title">Client Details</h2>

   <table class="table2">

        <tr>
          <th>Nationality</th>
          <th>Marital Status</th>
          <th>Occupation</th>
          <th>Employer</th>
          <th>Position</th>


        </tr>
        <tr>
            <td><%= best_in_place @profile, :nationality %></td>
            <td><%= best_in_place @profile, :marital_status, type: :select, collection: marital_status_types %></td>

            <td><%= best_in_place @profile, :occupation%></td>
            
            <td><%= best_in_place @profile, :employer%></td>
            
            <td><%= best_in_place @profile, :job_position%></td>
        </tr>
    </table>


<% else %>
   <h2 class="hidden title">Contact Details</h2>

   <table id="contact_details_table">
      <tr>
        <td>
        <h4>Contact Person</h4>
        <%= best_in_place @profile, :contact_person%>
        </td>
      </tr>
    </table>
<% end %>     

<br>
<br>

<div id="phone_numbers">
  <%=link_to 'Add Phone Number', new_phone_path(profile_id: @profile.id, source: 'show', remote: true), remote: true,
    class: 'std_button add_overlay' %>
  <%=render partial: 'phones/table', locals: {phones: @profile.phones, remote: true}%>
</div>

<br>
<br>

<div id="addresses">
  <%=link_to 'Add Address', new_address_path(profile_id: @profile.id, source: 'show', remote: true), remote: true,
  class: 'std_button add_overlay' %>
  <%=render partial: 'addresses/table', locals: {addresses: @profile.addresses, remote: true}%>
</div>

 
</div>