  <%=javascript_tag do %>

  $(document).ready(function(){

    

    $('.toggler_link').hide_toggler();

    $('#add_passport_link').on('click', function() {
      $('#identification_foid').focus();
    });

    $('#add_visa_link').on('click', function() {
      $('#identification_country').focus();
    });

    $('#new_identification').on('submit', function() {
      $('#loading').slideDown('fast');
      $('#new_passport_row').slideUp('fast');
    });


    $('#new_visa').on('submit', function() {
      $('#visas #loading').slideDown('fast');
      $('#new_visa_row').slideUp('fast');
    })

    $('.date').datepicker({dateFormat: 'M dd, yy'});

  });
  <% end %>

<h2 class="title hidden">Documents</h2>

<div id="visas" class="profile_show_section wip toggler_parent">

  <h3 class="titleize">Documents</h3>

  <%= form_for(@identification, remote: true,  html: {id: "new_document"}) do |f| %>
    <%= f.hidden_field :profile_id %>
    <table class='table2'>
      <tr>
        <th><%= f.label :foid_type, "Type"%></th>
        <th><%= f.label :foid, "ID"%></th>
        <th><%= f.label :date_issued, "Date Issued"%></th>
        <th><%= f.label :expiration_date, "Expiration Date" %></th>
        <% if can? :create, Identification %> <th class="tiny"></th> <% end %>
      </tr>

      <% @profile.identifications.other.each do |identification| %>
        <%= render partial: 'identifications/other', locals: {identification: identification} %>
      <% end %>

      <tr id="loading">
        <td colspan="5">
          <%=image_tag 'loading_bar.gif', size: '200x13'%>
        </td>
      </tr>

      <tr id="new_document_row" class="togger_child hidden">
        <td><%= f.text_field :foid_type%></td>
        <td><%= f.text_field :foid%></td>
        <td><%= f.text_field :date_issued, class: 'date' %></td>
        <td><%= f.text_field :expiration_date, class: 'date' %></td>
        <td>
          <%= f.submit "Save", data: {:disable_with => 'Saving...'} %>
          <%=link_to 'Hide', '', class: 'toggler_link'%>
        </td>
      </tr>
    </table>
  <% end %>

  <% if can? :create, Identification %>
    <div class="actions">
    <%=link_to 'Add', '', class: 'add_fields toggler_link'%>
    </div>
  <% end %>

</div>

<div id="passports" class="profile_show_section">
  <div class="section_body wip toggler_parent">

  <h3 class="titleize">Passports</h3>

  <%= form_for(@identification, remote: true) do |f| %>
  	<%= f.hidden_field :profile_id %>
  	<%= f.hidden_field :foid_type, value: 'Passport' %>

  	<table id="passports" class='table2'>
  		<tr>
  			<th><%= f.label :foid, "Passport Number"%></th>
  			<th><%= f.label :date_issued, "Date Issued"%></th>
  			<th><%= f.label :expiration_date, "Expiration Date" %></th>
  			<th><%= f.label :issued_by, "Issued By" %></th>
  			<% if can? :create, Identification %> <th class="tiny"></th> <% end %>
  		</tr>

	    <% @profile.identifications.passports.each do |passport| %>
	      <%= render partial: 'identifications/passport', locals: {passport: passport} %>
	    <% end %>
      <tr id="loading">
        <td colspan="5">
          <%=image_tag 'loading_bar.gif', size: '200x13'%>
        </td>
      </tr>

  		<tr id="new_passport_row" class="togger_child hidden">
  			<td><%= f.text_field :foid%></td>
  			<td><%= f.text_field :date_issued, class: 'date' %></td>
  			<td><%= f.text_field :expiration_date, class: 'date' %></td>
  			<td><%= f.text_field :issued_by %></td>
  			<td>
          <%= f.submit "Save", data: {:disable_with => 'Saving...'} %>
          <%=link_to 'Hide', '', class: 'toggler_link'%>
        </td>
  		</tr>
  	</table>
  <% end %>
    <% if can? :create, Identification %>
      <div class="actions">
      <%=link_to 'Add Passport', '', id: 'add_passport_link', class: 'add_fields toggler_link'%>
      </div>
    <% end %>

  </div>
</div>


<div id="visas" class="profile_show_section wip toggler_parent">

  <h3 class="titleize">Visas</h3>

    <%= form_for(@identification, remote: true, html: {id: "new_visa"}) do |f| %>
     <%= f.hidden_field :profile_id %>
      <%= f.hidden_field :foid_type, value: 'Visa' %>

      <table id="visas" class='table2'>
        <tr>
          <th><%= f.label :country, "VISA"%></th>
          <th><%= f.label :visa_type, "Type"%></th>
          <th><%= f.label :foid, "Visa Number"%></th>
          <th><%= f.label :date_issued, "Date Issued"%></th>
          <th><%= f.label :expiration_date, "Expiration Date" %></th>
          <th><%= f.label :entry_date, "Entry Date" %></th>
          <th><%= f.label :max_stay, "Max Stay" %></th>
          <% if can? :create, Identification %>
          <th class="tiny"></th>
          <% end %>
        </tr>

        <% @profile.identifications.visas.each do |visa| %>
          <%= render partial: 'identifications/visa', locals: {visa: visa} %>
        <% end %>

        <tr id="loading">
          <td colspan="8">
            <%=image_tag 'loading_bar.gif', size: '200x13'%>
          </td>
        </tr>

        <tr id="new_visa_row" class="togger_child hidden">
          <td><%= f.text_field :country, class: 'med' %></td>
          <td><%= f.text_field :visa_type, class: 'med' %></td>
          <td><%= f.text_field :foid, class: 'med' %></td>
          <td><%= f.text_field :date_issued, id: 'visa_date_issued', class: 'date' %></td>
          <td><%= f.text_field :expiration_date, id: 'visa_expiration_date',class: 'date' %></td>
          <td><%= f.text_field :entry_date, class: 'date' %></td>
          <td><%= f.number_field :max_stay%></td>
          <td>
            <%= f.submit "Save", data: {:disable_with => 'Saving...'} %>
            <%=link_to 'Hide', '', class: 'toggler_link'%>
          </td>
        </tr>
      </table>
    <% end %>
    <% if can? :create, Identification %>
      <div class="actions">
      <%=link_to 'Add Visa', '', id: 'add_visa_link', class: 'add_fields toggler_link'%>
      </div>
    <% end %>

</div>