
<div id="profile_form_container">
<%=javascript_tag do %>
$(document).ready(function(){
  init_profile_form_container();
});
<% end %>


<%= simple_form_for @profile, html: {id: 'new_profile_form', class: 'span-14', remote: params[:remote]} do | f | %>

  <%= f.hidden_field :profile_type%>
  <h1 class="titleize">
  <%= @profile.profile_type%>
  </h1>

  <fieldset>
  <legend><%=@profile.profile_type.humanize%> Details</legend>

  <%= profile_form('person_fields', @profile, f) if @profile.person?%>
  <%= profile_form('vendor_fields', @profile, f) if @profile.vendor?%>
  <%= profile_form('corporate_fields', @profile, f) if @profile.corporate_client?%>

  <%= f.button :submit, 'Save' %>
  </fieldset>
<% end %>

</div>