

<div class="profile_detail">
  <div id="section_title">
  Client Details
  </div>
  <div id="section_controls">
    Client Type <%= @profile.profile_type %>
  </div>




<% if @profile.profile_type == 'INDIVIDUAL' || @profile.profile_type == 'GUEST'%>

   <table class="table2">
        <tr>
          <th>First Name</th>  
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Birth Date</th>
          <th>Email</th>
          
        </tr>  
        <tr>
          <td> <%= best_in_place @profile, :first_name %></td>
          <td><%= best_in_place @profile, :middle_name %></td>
          <td><%= best_in_place @profile, :last_name %></td>
          <td><%= best_in_place @profile, :gender, type: :select, 
          collection: [['M','M'],['F','F']] %></td>
          <td><%= best_in_place @profile, :birth_day, :type => :date,
            :display_as => :birth_day_med_format %></td>
          <td><%= best_in_place @profile, :email %></td>
        </tr>
    </table>






<% end %>



<% if @profile.profile_type == 'CORPORATE' %>

   <table class="table2">
        <tr>
          <th>Company Name</th>  
          <td> <%= best_in_place @profile, :name %></td>
        </tr>  
        <tr>
          <th>Email</th>
          <td><%= best_in_place @profile, :email %></td>
        </tr>
    </table>

<% end %>
<div class="table_botom_spacer">&nbsp</div>


</div>



