<% present profile do | profile_presenter | %>
  <tr id="<%=profile_presenter.profile_css_id%>" class="<%=profile_presenter.deleted_css%>">
    <td class="view">
      <%= profile_presenter.view %>
    </td>

    <td><%= profile.full_name %></td>
    <td class="ppt"><%= profile.profile_type %></td>
    <td><%= profile.email %></td>
    <td><%= profile_presenter.phone %></td>
    <td><%= profile_presenter.address  %></td>
    <td>
      <%= profile_presenter.lock_link%> 
    </td>
    <% if can? :update, Profile %>
        <td><%=profile_presenter.edit_link({size: '18x18'}, {remote: 'true'}) %></td>
    <% end %>
    <% if can? :destroy, Profile %>
        <td><%= profile_presenter.destroy_link(size: '14x14') %></td>
    <% end %>
  </tr>
<% end %>