<div id="profile_details">
  <h2 class="section_divider">Profile Details</h2>

<% if @profile.profile_type == 'INDIVIDUAL' %>
  <div class="field_group">
      <span class="group">
        <strong>Full Name:</strong> 
        <%= best_in_place @profile, :first_name %> 
        <%= best_in_place @profile, :middle_name, nil: '&nbsp; ' %> 
        <%= best_in_place @profile, :last_name %>
      </span>

      <span class="group">
        <strong>Birth day:</strong>
        <%= best_in_place @profile, :birth_day, :type => :date,
            :display_as => :birth_day_med_format %>
      </span>

      <span class="group">
        <strong>Gender:</strong>
        <%= best_in_place @profile, :gender, type: :select, 
          collection: [['M','M'],['F','F']] %>
      </span>

  </div>
<% end %>

<% if @profile.profile_type == 'CORPORATE' %>
  <div class="field_group">
    <strong>Company Name:</strong> <%= best_in_place @profile, :name %>
  </div>
<% end %>

  <div class="field_group">
    <p>
      <strong>Email:</strong>
      <%= best_in_place @profile, :email %>
    </p>
  </div>
</div>