<% present profile do | profile_presenter | %>
  <tr id="<%=profile_presenter.profile_css_id%>" class="<%=cycle('odd','even')%>">
    <td class="view">
      <div>
      <%= link_to 'View Details', profile, class: 'slow_link std_button' %>
      </div>
    </td>

    <td><%= profile.full_name %></td>
    <td><%= profile.profile_type %></td>
    <td><%= profile.email %></td>
    <td><%= profile.phones.first.try :display %></td>
    <td><%= truncate profile.addresses.first.try(:display) %></td>
    <td>
      <%= profile_presenter.lock_link%> 
    </td>
    <% if can? :update, Profile %>
        <td><%=profile_presenter.edit_link({size: '18x18'}, {remote: 'true'}) %></td>
    <% end %>
    <% if can? :destroy, Profile %>
        <td><%= profile_presenter.destroy_link(size: '14x14') %></td>
    <% end %>
  </tr>
<% end %>