<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_index();
});
<% end %>

<h1>Corporate Profiles</h1>

<%= form_for(@profile) do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to 'Add Profile', '', id: 'show_new_profile_row_link' %>
    <table id="profile_index_table">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr id="new_profile_row">
          <td></td>
          <td><%= f.text_field :name %></td>
          <td><%= f.email_field :email %></td>
          <td><%= f.submit 'Save', id: 'new_profile_save_button' %></td>
          <td><%= link_to 'Hide', '', id: "hide_new_profile_row_link"%></td>
        </tr>
        <% @profiles.each do |profile| %>
          <%= render profile %>
        <% end %>
      </tbody>
    </table>

    
<% end %>
<!--%= link_to 'New Profile', new_profile_path %-->
