  <% if @profile && @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% cache("#{ProfilesHelper.cache_key_for_profiles}-#{@profile_type}") do %>

<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_index();


});

<% end %>



<div id="section_title">
All Clients
</div>
<div id="section_controls">




<%=form_tag profiles_path, method: 'get', id: 'type_filter', remote: true do %>
Filter: <%= select_tag(:profile_type, 
options_for_select(profile_types.push(['ALL']) , @profile_type))%>
<% end %>

  <span class="group">
    <%=link_to 'ADD CLIENT', new_profile_by_type_path('INDIVIDUAL'), class: 'add_fields add_client_link', remote: true%>
    <%=link_to 'ADD GUEST', new_profile_by_type_path('GUEST'), class: 'add_fields add_client_link', remote: true%>
    <%=link_to 'ADD CORPORATE CLIENT', new_profile_by_type_path('CORPORATE'), class: 'add_fields add_client_link', remote: true%>
    <%=link_to 'ADD AGENT', new_profile_by_type_path('AGENT'), class: 'add_fields add_client_link', remote: true%>

  </span>

  <div id="prepare_form">
  <%=image_tag 'loading_bar.gif', size: '100x15' %>
  </div>

  

</div>

<div id="section_content">

  <%= render 'profile_table'%>

<div class="table_botom_spacer">&nbsp</div>
</div>


<% end %>