  <% if @profile && @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%=javascript_tag do %>

$(document).ready(function(){

  columns = <%=raw columns_by_user_role%>;
  search_cols = <%=raw search_cols_by_user_role%>;
  column_defs = <%=raw column_defs%>

  $('#profile_data_table').dataTable( {
      "paging": true,
      "pagingType": "full_numbers",
      "jQueryUI": true,
      "processing": true,
      "serverSide": true,
      "ajax": {"url": "<%=json_profiles_path%>", "type": "POST"},
      "stateSave": true,
      "columns": columns,
      "columnDefs": column_defs,
      "searchCols": search_cols,
      "order": [ 2, 'asc' ],
      "deferLoading": true
  } );
  $('#profile_data_table_filter input').focus();

  
  /* Needed if DataTable state change is enabled */
  <% if @profile_type %>
    runDataTableProfileTypeSearch();  
  <% end %>

  init_profiles_index();
  
});

<% end %>



<div id="section_title">
Profiles Index
</div>
<div id="section_controls">




<%=form_tag profiles_path, method: 'get', id: 'type_filter' do %>
Filter: <%= select_tag(:profile_type, 
options_for_select(profile_types.push(['ALL']) , @profile_type))%>
<% end %>

<% if can? :create, Profile %>
  <span class="group">
    <%=add_profile_link%>
    <%=add_profile_link profile_type: 'CORPORATE'%>
    <%=add_profile_link profile_type: 'AGENT'%>
    <%=add_profile_link profile_type: 'VENDOR'%>
  </span>
<% end %>

  <div id="prepare_form">
  <%=image_tag 'loading_bar.gif', size: '100x15' %>
  </div>

  

</div>

<div id="profile_index_table_container">
    <%= render 'profile_table'%>
<div class="table_botom_spacer">&nbsp</div>
</div>
