<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_show();
});
<% end %>

<p id="notice"><%= notice %></p>


<%=render 'profile_details' %>

  <%=javascript_tag do %>
  $(document).ready(function(){
    $(function(){
      $('#profile-tabs').liquidSlider({
        slideEaseDuration: 500,
        autoHeight: true,
        minHeight: 300
      });
    });
 });
<% end %>
<div class="slider-container">
	<div class="liquid-slider" id="profile-tabs">
	    <div>
	      <%=render 'contact_details'%>
	    </div>
	    <div>
	      <%=render 'note_details' %>
	    </div>          
	    <div>
	      <%=render 'foid_details' %>
	    </div>
		<% if @profile.account %>
		<div>
			<%=render 'group_details' %>
		</div>
		<% end %>
	    <div>
	      <%=render 'account_details' %>
	    </div>
	</div>

</div>
