<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_show();
});
<% end %>

<p id="notice"><%= notice %></p>

<div id="help">
  This page shows all information about the Profile. 
  <br/>
  Click on any information to edit it. Changes are automatically saved.
</div>

<div id="account_name">
	<% if @profile.account %>
		<strong>Account Name:</strong>
		<%= best_in_place @profile.account, :name %>
	<% else %>
	<div id="help">
	  This profile does not have a Travel Account. A Travel Account will enable the user to book services. Click on the link below to open an Account for this Profile.
	  <br/>
		<%=link_to 'Create Account', '', id: "create_account_link", class: 'add_fields no-print'%>
		<%=render 'accounts/form2'%>
	</div>
		
	<% end %>
</div>
<%=render 'profile_details' %>
<%=render 'contact_details' %>
<%=render 'group_details'%>


<div id="back">
<% if @profile.profile_type == 'CORPORATE' %>
  <%= link_to 'Back', corporate_index_profiles_path %>
<% end %>

<% if @profile.profile_type == 'INDIVIDUAL' %>
  <%= link_to 'Back', profiles_path %>
<% end %>
</div>