<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_show();
});
<% end %>

<p id="notice"><%= notice %></p>

<div id="help">
  This page shows all information about the Profile. 
  <br/>
  <strong>Click on any information to edit it. Changes are automatically saved.</strong>
</div>

<%=render 'profile_details' %>
<%=render 'contact_details' %>
<%=render 'note_details' %>
<%=render 'foid_details' %>

<%=render 'account_details' %>

<div id="back">
<% if @profile.profile_type == 'CORPORATE' %>
  <%= link_to 'Back', corporate_index_profiles_path %>
<% end %>

<% if @profile.profile_type == 'INDIVIDUAL' %>
  <%= link_to 'Back', profiles_path %>
<% end %>
</div>