<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_show();

    $('#profile-tabs').liquidSlider({
	        slideEaseDuration: 500,
	        autoHeight: true,
	        minHeight: 300,
	        firstPanelToLoad: <%=@liquid_slider_panel%>
	      });

  $('#updates').on('click', function(){ 
	Turbolinks.visit('<%=profile_panel_path(@profile.id,'5')%>');
	//	$.ajax({
	//	    dataType: 'script',
	//		url: '<%=versions_profile_path(@profile.id)%>'
	//	});
    //
   });
   
});
<% end %>

<p id="notice"><%= notice %></p>


<%=render 'profile_details' %>

<div class="slider-container">
	<div class="liquid-slider" id="profile-tabs">
   	    <div class="tab_content documents">
	      <%=render 'documents' %>
	    </div>
	    <div class="tab_content">
	      <%=render 'contact_details'%>
	    </div>
	    <div id="yyy" class="tab_content">
	      <%=render 'note_details' %>
	    </div>          


		<% if @profile.account %>
		<div class="tab_content">
			<%=render 'group_details' %>
		</div>
		<% end %>

		<div class="tab_content">
			<%=render 'versions' %>
		</div>

		<div>
		<!--Wierd fix needed so that notes for guests will work -->
		</div>

	</div>

</div>
