
<%=javascript_tag do %>

$(document).ready(function(){
  	$('.toggler a').on('click', toggle_form);

  	<% if can? :update, Profile %>
		$('.best_in_place').best_in_place();
	<% else %>
		$('.best_in_place').removeClass('best_in_place');
	<% end %>

    $('#profile-tabs').liquidSlider({
	        slideEaseDuration: 500,
	        autoHeight: true,
	        minHeight: 300,
	        firstPanelToLoad: <%=@liquid_slider_panel%>
	      });

  $('#updates').on('click', function(){ 
	Turbolinks.visit('<%=profile_panel_path(@profile.id,@profile.updates_liquid_slider_panel_number)%>');
	//	$.ajax({
	//	    dataType: 'script',
	//		url: '<%=versions_profile_path(@profile.id)%>'
	//	});
    //
   });
   
});
<% end %>

<p id="notice"><%= notice %></p>

<% cache(@profile) do %>

<%=render 'profile_details' %>

<% end %>

<div class="slider-container">
	<div class="liquid-slider" id="profile-tabs">

		<% unless @profile.corporate_client? %>
		  <% cache(add_role @profile.documents_cache_key) do %>
   	    <div class="tab_content documents">
	        <%=render 'documents' %>
	      </div>
	    <% end %>
	  <% end %>

	    <% cache(add_role @profile.contact_details_cache_key) do %>
	    <div class="tab_content">
	      <%=render 'contact_details'%>
	    </div>
	    <% end %>


	    <div class="tab_content">
	      <%=render 'note_details' %>
	    </div>          


		<% if @profile.account %>
		<div class="tab_content">
			<%=render 'group_details' %>
		</div>
		<% end %>

		<div class="tab_content">
			<%=render 'versions' %>
		</div>

		<div>
		<!--Wierd fix needed so that notes for guests will work -->
		</div>

	</div>

</div>
