<%=javascript_tag do %>

$(document).ready(function(){
  init_profiles_show();
});
<% end %>

<p id="notice"><%= notice %></p>

<div id="help">
This page shows all information about the Profile Account. 
<br/>
Click on any information to edit it. Changes are automatically saved.
Addresses cannot be edited. To change, delete and add a new one.
</div>

    <p>
      <strong>Account Name:</strong>
      <%= best_in_place @profile.account, :name %>
    </p>
<% if @profile.profile_type == 'INDIVIDUAL' %>

      <strong>Full Name:</strong> <span id="full_name">
        <%= best_in_place @profile, :first_name %> 
        <%= best_in_place @profile, :middle_name, nil: '&nbsp; ' %> 
        <%= best_in_place @profile, :last_name %></span>

      <p>
        <strong>Birth day:</strong>
        <%= best_in_place @profile, :birth_day, :type => :date,
            :display_as => :birth_day_med_format %>

      </p>

      <p>
        <strong>Gender:</strong>
        <%= best_in_place @profile, :gender, type: :select, 
          collection: [['M','M'],['F','F']] %>
      </p>

<% end %>

<% if @profile.profile_type == 'CORPORATE' %>
    <strong>Company Name:</strong> <%= best_in_place @profile, :name %>
<% end %>

<p>
  <strong>Email:</strong>
  <%= best_in_place @profile, :email %>
</p>

<table id="contact_details_table">
  <tr>
    <td id="phone_column">
      <h4>Contact Numbers</h4>
      <ul id="phone_ul">
        <% @profile.phones.each do | phone | %>
          <%= render phone %>
        <% end %>
      </ul>
      <div class="no-print">
        <%=link_to 'Add', '', id: 'add_phone_link', class: 'add_fields no-print'%>
        <%= form_for(@new_phone, remote: true) do |f| %>
              <%= f.select :phone_type, phone_types%>
              <%= f.text_field :number, class: "contact_numbers" %>
              <%= f.hidden_field :contact_detail_type%>
              <%= f.hidden_field :contact_detail_id%>
              <%= f.submit "Add", id: 'add_contact_number_submit' %>
              <%= link_to 'Hide', '', id: "hide_new_purchase_order_number_link" %>
        <% end %>
      </div>

    </td>
    <td id="address_column">
            <h4>Addresses</h4>
      <ul id="addresses_ul">
        <% @profile.addresses.each do | addresses | %>
          <%= render addresses %>
        <% end %>
      </ul>
      <div class="no-print">
        <%=link_to 'Add', '', id: 'add_address_link', class: 'add_fields no-print'%>
        <%= form_for(@new_address, remote: true) do |f| %>
              <fieldset>
                <%=f.label 'Type'%>
                <%=f.select :address_type, ['Home', 'Business']%>
              </fieldset>
              <fieldset><%=f.label 'Address Line 1:'%><%= f.text_area :line_one%></fieldset>
              <fieldset>
                <%=f.label 'City: '%><%= f.text_field :city%>
                <%=f.label 'State/Region'%><%= f.text_field :state_region%>
              </fieldset>
              <fieldset>
              <%=f.label 'Zip Code:'%><%= f.text_field :zipcode%>
              <%=f.label 'Country'%><%= f.text_field :country%>
              </fieldset>
              <%= f.hidden_field :owner_type%>
              <%= f.hidden_field :owner_id%>
              <%= f.submit "Add", id: 'add_address_submit' %>
              <%= link_to 'Hide', '', id: "hide_new_address_link" %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<% if @profile.profile_type == 'CORPORATE' %>
  <%= link_to 'Back', corporate_index_profiles_path %>
<% end %>

<% if @profile.profile_type == 'INDIVIDUAL' %>
  <%= link_to 'Back', profiles_path %>
<% end %>