<div id="phone_form_container">
<%=javascript_tag do %>
$(document).ready(function(){
  init_phone_form_container();
});
<% end %>

<%= simple_form_for @phone, html: {id: 'new_phone_form', class: 'span-14', remote: params[:remote]} do | f | %>

  <h3 class="titleize">
  Add Phone Number
  </h3>

  <fieldset>
  <legend><%=@phone.contact_detail.full_name%></legend>

  <%= hidden_field_tag :source, @source  %>
  <%= f.hidden_field :contact_detail_id %>
  <%= f.hidden_field :contact_detail_type %>
  <%= f.input :phone_type, collection: phone_types, include_blank: false%>
  <%= f.input :number %>
  <%= f.button :submit, 'Save' %>
  </fieldset>

<% end %>