<div id="note_form_container">
<%=javascript_tag do %>
$(document).ready(function(){
 // init_note_form_container();
});
<% end %>

<%= simple_form_for @note, html: {id: 'new_note_form', class: 'span-14', remote: params[:remote]} do | f | %>

  <h3 class="titleize">
  Note For...
  </h3>

   <%= hidden_field_tag :source, params[:source]  %>
   <%= f.hidden_field :profile_id %>

   <fieldset>
   <legend><%=@note.profile.full_name%></legend>
    <%= f.input :note, label: false, input_html: {:autofocus => true}%>
    <%= f.button :submit, 'Save' %>
  </fieldset>

<% end %>
