<tr id="note_<%=note.id%>" class="profile_note">
	<td class="note_text text">
		<%= simple_format note.note%>
	</td>
  <td class="w-8">
  <%=User.find_by_id(Note.last.originator).try :username%>
  </td>
  <td class="w-datetime">
  <%=note.updated_at.to_s(:time)%>
  </td>

  <td class="w-2">
  <%=link_to edit_img, edit_note_path(note, source: 'show', remote: true), class: 'add_overlay', remote: true %>
  </td>
  <td class="w-2">
  <%=link_to delete_img, note, remote: true, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete Note?"} %>
  </td>

</tr>