	<div id="group_<%=group.id%>" class="profile_group">
		<strong>Name: </strong><span><%=best_in_place group, :name%></span>
		<ul id="member_ul">
			<%group.members.each do | member | %>
				<%=render member%>
			<% end %>
		</ul>
		<%=link_to 'Add Member', '', id: "add_member_link_group_#{group.id}", class: 'member_link_group add_fields no-print'%>

		<% @member = Member.new(group: group)%>
		<%=render 'members/form'%>


		<%=link_to 'Delete Group', group, remote: true, method: :delete, class: "remove_fields no-print delete_group", data: {confirm: "Delete '#{group.name}'?"} %>

	</div>
