<h1>Users</h1>

<table class="mini">
<tr>
	<th>Role</th>
	<th>User name</th>
	<th>Email </th>
	<th>Last Login</th>
	<th>Login count</th>
	<th></th>
	<th></th>
</tr>

<% @users.each do | user | %>
<tr>
	<td> <%=user.role%></td>
	<td> <%=user.username%></td>
	<td> <%=user.email %></td>
	<td> <%=user.current_sign_in_at.to_formatted_s(:time) if user.current_sign_in_at %> </td>
	<td> <%=user.sign_in_count %> </td>

	<td><%= link_to 'Edit', edit_user_path(user) %></td>
	<td>
	<% if user.username != 'admin' && user.id != current_user.id %>
	<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	</td>
</tr>
<% end %>
</table>

<%=link_to 'Add User', new_user_path %>