<div>
  <% if @identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% @identification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag upload_doc_image_path(@identification), id: 'upload_image', multipart: true do |f| %>
  <h3 class="titleize">Upload Image</h3>

  <fieldset id="select_client">
    <legend>Client</legend>
    <h2 class="titleize"><%=@identification.profile.full_name%></h2>
  </fieldset>   

  <% if @identification.doc_image.url.nil? == false %>
    <fieldset>
      <legend>WARNING: <br>This will replace existing image</legend>
      <%=image_tag download_doc_image_path(@identification, :thumb)%>
    </fieldset>
  <% end %>

  <fieldset id="select_client">
    <legend><%=@identification.display%></legend>
    <%= file_field_tag :identification_doc_image, name: 'identification[doc_image]' %>
    <div id="file_list" style="display: none">
      <span>Uploading...</span></br>
    </div>
    <div id="progress">
      <div class="bar" style="width: 0%;"></div>
    </div>
    <div id="finishing" style="display: none">
      Upload Complete. Updating Database.....
    </div>
  </fieldset>
  <% end %>
</div>

<%=javascript_tag do %>

//find me at doc_image.js
init_doc_image_uploader();

<% end %>
