<div>

  <%= simple_form_for @identification, :html => {id: 'upload_image', multipart: true} do |f| %>
  <h3 class="titleize">Upload Image</h3>

  <fieldset id="select_client">
    <legend>Client</legend>
    <h2 class="titleize"><%=@identification.profile.full_name%></h2>
  </fieldset>   

  <fieldset id="select_client">
    <legend><%=@identification.display%></legend>
    <%= f.file_field :doc_image %>
  </fieldset>
  <%= f.submit 'Upload' %>
    
  <% end %>
</div>