<div id="phone_form_container">
  <%=javascript_tag do %>
  $(document).ready(function(){
    init_address_form_container();
  });
  <% end %>

  <%= simple_form_for @address, html: {id: 'new_address_form', class: 'span-20', remote: params[:remote]} do | f | %>

    <h3 class="titleize">
    Add Address
    </h3>

    <fieldset>
    <legend><%=@address.owner.try :full_name%></legend>
    
    <%= hidden_field_tag :source, @source  %>
    <%= f.hidden_field :owner_id %>
    <%= f.hidden_field :owner_type %>
    <%= f.input :line_one, label: 'Address Line 1', input_html: {maxlength: 70, autofocus: true}, placeholder: 'House Number/Building Name, Street...'%>
    <%= f.input :line_two, label: 'Address Line 2', input_html: {maxlength: 70}, placeholder: 'Town / Village / Municipality...'%>
    <%= f.input :city %>
    <%= f.input :state_region %>
    <%= f.input :zipcode %>
    <%= f.input :country, selected: 'Philippines', include_blank: true, wrapper_html: {class: 'span-12'}%>
    <%= f.input :address_type, label: 'Description', placeholder: 'Home, Business, etc...' %>
    <%= f.button :submit, 'Save', data: {disable_with: "Saving...."} %>

    </fieldset>
  <% end %>
</div>