<table id="transactions_table">
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Destination</th>
    <th>Date</th>
    <th>Status</th>
    <th>Reference #</th>
    <th>Vendor</th>
    <th>Agent</th>
    <th></th>
    <th></th>
  </thead>
  <%@transactions.try :each do | transaction |%>

  <tr id="transaction_<%=transaction.id%>">
    <td><%=transaction.name%></td>
    <td><%=transaction.type_code%></td>
    <td><%=transaction.destination_code%></td>
    <td><%=shrot_date transaction.arrival_date%> - <%=shrot_date transaction.return_date%></td>
    <td><%=transaction.status%></td>
    <td><%=transaction.reference_number%></td>
    <td><%=transaction.vendor%></td>
    <td><%=transaction.agent%></td>
    <td><%=link_to edit_img, edit_transaction_path(transaction, source: 'show', remote: true), class: 'add_overlay', remote: true %></td>
    <td><%=link_to delete_img, transaction, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete '#{transaction.name}'?"} %></td>
  </tr>

  <%end%>
</table>
