<%=javascript_tag do %>

$(document).ready(function(){
  identifications_form_init();
});



<% end %>



<% identification_presenter = present(@identification) %>

<%= form_for(@identification, html:{id: 'identification_form', class: 'span-12'}) do |f| %>

<h2 class="titleize"><%=identification_presenter.title%></h2>

  <% if @identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% @identification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset id="select_client">
  <legend><%=identification_presenter.profile_select_legend%></legend>

    <%=f.hidden_field :profile_id%>

    <%=identification_presenter.client_name_label%>

    <%= identification_presenter.profile_full_name_field %>
    <%=link_to 'change', '', class: 'hidden'%>


  </fieldset>


  <fieldset>
  <legend>Document Details</legend>
    <div>
      <%=f.label :foid_type, "Type: "%></br><%=f.select :foid_type, foid_types, tabindex: 1%>
    </div>

    <div>
      <%=f.label :foid_type, "Country: "%></br>
      <%= f.country_select :country, main_country_list, {prompt: 'Select Country...'},
          class: 'required', tabindex: 2 %>
    </div>

    <div class="visa_field hidden">
      <%=f.label :visa_type, "Visa Type: "%></br><%=f.text_field :visa_type,tabindex: 3%>
    </div>

    <div>
      <%=f.label :foid, "ID Number: ", id: 'foid'%></br><%=f.text_field :foid, class: 'required', tabindex: 4%>
    </div>

    <div>
      <%=f.label :date_issued, "Date Issued: "%></br>
      <%=f.date_select :date_issued, {start_year: Time.now.year - 15}, {tabindex: 5}%>
    </div>

    <div>
      <%=f.label :expiration_date, "Expiration Date: "%></br><%=f.date_select :expiration_date, {end_year: Time.now.year + 15}, {tabindex: 6}%>
    </div>

    <div class="passport_field">
      <%=f.label :foid, "Issued By: "%></br><%=f.text_field :issued_by, value: 'DFA Manila', tabindex: 7%>
    </div>

    <div class="visa_field hidden">
      <%=f.label :expiration_date, "Entry Date: "%></br><%=f.date_select :entry_date, {end_year: Time.now.year + 15}, {tabindex: 8}%>
    </div>

    <div class="visa_field hidden">
      <%=f.label :foid, "Max Stay: "%></br><%=f.text_field :max_stay, tabindex: 9%>
    </div>

    <%= f.submit 'Save', id: 'save_identification', tabindex: 10 %>

  </fieldset>

<% end %>