<%=javascript_tag do %>

$(document).ready(function(){
  identifications_form_init();
});

<% end %>


<%= form_for(@identification) do |f| %>
  <% if @identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% @identification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset id="select_client">
  <legend>Select Client</legend>
    <%=f.label :profile_id, "Name: "%><%=image_tag("question.png", size: "14x14", title: "Start typing and profile names will appear. Select a profile from the drop down.")%></br>
    <%=f.hidden_field :profile_id%>
    <%= text_field_tag :profile_full_name, [], size: 35, placeholder: "Start typing and profile names will appear...",  autofocus: true, class: 'text'%>
    <%=link_to 'change', '', class: 'hidden'%>
  </fieldset>

  <fieldset>
  <legend>Document Details</legend>
    <p>
      <%=f.label :foid_type, "Type: "%></br><%=f.select :foid_type, foid_types, {:selected => 'Passport'}, tabindex: 1%>
    </p>
    <p>
      <%=f.label :foid_type, "Country: "%></br>
      <%= f.country_select :country,main_country_list, {}, tabindex: 2 %>
    </p>
    <p class="visa_field hidden">
      <%=f.label :visa_type, "Visa Type: "%></br><%=f.text_field :visa_type, value: 'TOURIST', tabindex: 3%>
    </p>
    <p>
      <%=f.label :foid, "ID Number: ", id: 'foid'%></br><%=f.text_field :foid, tabindex: 4%>
    </p>

    <p>
      <%=f.label :date_issued, "Date Issued: "%></br>
      <%=f.date_select :date_issued, {start_year: Time.now.year - 15}, {tabindex: 5}%>
    </p>

    <p>
      <%=f.label :expiration_date, "Expiration Date: "%></br><%=f.date_select :expiration_date, {end_year: Time.now.year + 15}, {tabindex: 6}%>
    </p>

    <p class="passport_field">
      <%=f.label :foid, "Issued By: "%></br><%=f.text_field :issued_by, value: 'DFA Manila', tabindex: 7%>
    </p>

    <p class="visa_field hidden">
      <%=f.label :expiration_date, "Entry Date: "%></br><%=f.date_select :entry_date, {end_year: Time.now.year + 15}, {tabindex: 8}%>
    </p>

    <p class="visa_field hidden">
      <%=f.label :foid, "Max Stay: "%></br><%=f.text_field :max_stay, tabindex: 9%>
    </p>

    <%= f.submit 'Save', id: 'save_identification', tabindex: 10, disabled: true %>

  </fieldset>
<% end %>