<%= form_for(@identification) do |f| %>
  <% if @identification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
      <% @identification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <p>
      <%=f.label :foid_type, "Type: "%></br><%=f.select :foid_type, foid_types, {:selected => 'Passport'}, tabindex: 1%>
    </p>

    <p>
      <%=f.label :foid_type, "Country: "%></br>
      <%= f.country_select :country,main_country_list, {}, tabindex: 2 %>
    </p>
    <p>
      <%=f.label :foid, "ID Number: "%></br><%=f.text_field :foid, tabindex: 3%>
    </p>
    <p>
      <%=f.label :date_issued, "Date Issued: "%></br><%=f.date_select :date_issued, {start_year: Time.now.year - 15}%>
    </p>

    <p>
      <%=f.label :expiration_date, "Expiration Date: "%></br><%=f.date_select :expiration_date, {end_year: Time.now.year + 15}%>
    </p>

    <p>
      <%=f.label :foid, "Issued By: "%></br><%=f.text_field :issued_by, value: 'DFA Manila', tabindex: 3%>
    </p>


    <%= f.submit %>

  </fieldset>
  <%= f.hidden_field :profile_id %>
<% end %>
