<% present identification do | identification_presenter | %>
  <tr id="<%=identification.css_id%>">
      <% if defined?(show_client_name) && show_client_name %>
        <td><%=identification_presenter.profile_link%></td>
      <% end %>

    <td><%=identification_presenter.type%></td>
    <td><%=identification.foid%></td>
    <td><%=identification_presenter.date_issued%></td>
    <td><%=identification_presenter.expiration_date%></td>
    <td><%=identification_presenter.other_details%></td>

    <% if can? :edit, Identification %>
    <td>
    <%= link_to edit_img, edit_identification_path(identification), title: 'Edit', class: 'efoid', remote: defined?(remote) && remote %>
    </td>
    <% end %>

    <% if can? :destroy, identification %>
    <td>
    <%=link_to delete_img, identification, remote: true, method: :delete, title: 'Delete!!!', class: "remove_fields no-print", data: {confirm: "Delete [#{identification.foid_type} - #{identification.foid}]?"} %>
    </td>
    <% end %>

  </tr>
<% end %>