<div id="section_title">Client Documents</div>
<div id="section_controls">
    <%=link_to 'Add Document', new_identification_path, class: 'add_fields'%>
</div>

<%=javascript_tag do %>

$(document).ready(function(){
    $('#identification_table').dataTable( {
        bJQueryUI: true,
        iDisplayLength: 100,
        "sPaginationType": "full_numbers",
    } );
});

<% end %>

<% if flash[:identification_notice] %>
	<%=javascript_tag do %>
		setTimeout(function() {
			$('#identification_notice').fadeOut('slow', function() {
				$('#identification_notice').remove();
			});
		},5000);
	<% end %>
	<div id="identification_notice" class="success">
		<%= flash[:identification_notice]%>
	</div>
<% end %>

<!-- Note: documents_all div is needed by update.js.erb -->
<div id="documents_all">
<%=render partial: 'table', locals: {identifications: @identifications, show_client_name: true}%>
</div>
