<!DOCTYPE html>
<html>
<head>
  <title>TACRM</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=javascript_tag do %>
	$(document).ready(function(){
	  application_init();

	});
<% end %>

<div class="no-print session_info">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <!--%= link_to "Sign up", new_user_registration_path %-->
      <%= link_to "Login", new_user_session_path %>
    <% end %>
 </div>
 
<div id="header">
	<%=image_tag 'logo.png', size: '400x60'%>
</div>

<div id="navigation">
	<ul id="menu">
		<li><a href="">Clients</a>
			<ul>
				<li><%= link_to 'Show All Clients', profiles_path %></li>
				<li><%= link_to 'Add Client', new_profile_by_type_path('INDIVIDUAL') %></li>
			</ul>
		</li>
		<li><a id='x' href="">Transactions</a>
			<ul>
				<li><%= link_to 'Domestic Ticketing', '', id: 'x'%></li>
				<li><%= link_to 'Intl Ticketing', '', id: 'x'%></li>
				<li><%= link_to 'Hotel Accommodation', '', id: 'x'%></li>
				<li><%= link_to 'Package Tour', '', id: 'x'%></li>
				<li><%= link_to 'Transport Rental', '', id: 'x'%></li>
				<li><%= link_to 'Passport', '', id: 'x'%></li>
				<li><%= link_to 'Visa Processing', '', id: 'x'%></li>
				<li><%= link_to 'Travel Insurance', '', id: 'x'%></li>
				<li><%= link_to 'Others', '', id: 'x'%></li>
			</ul>
		</li>
		<li><a href="">Administration</a>
			<ul>
				<li><%= link_to 'User Activity', profile_versions_path %></li>
				<li><%= link_to 'Add/Delete Users', '', id: 'x'%></li>
				<li><%= link_to 'Users Permissions', '', id: 'x'%></li>
				<li><%= link_to 'Manage Database', '', id: 'x'%></li>
			</ul>
		</li>
	
	
	</ul>

</div>

<div id="content">

<div id="wait_message" class="hidden">
Processing...
</div>

<div id="error_explanation" class="hidden">
<div></div>
<ul></ul>
</div>

<div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</div>

<%= yield %>

</div>

</body>
</html>
