<div id="address_form_container">

  <%= simple_form_for @member, html: {id: 'new_member_form', class: 'span-18', remote: params[:remote]} do | f | %>

    <h3 class="titleize">
    <%=params[:action].titleize%> Member
    </h3>

    <%= f.hidden_field :group_id %>


    <fieldset>
    <legend>For <%=@member.owner.try :full_name%></legend>

    <div class="input string required span-15">
        <label class="string control-label">Member</label>

        <%if params[:action] == 'edit' && @member.profile_id %>
           <%= f.hidden_field :profile_id %>
           <%=text_field_tag :profile_full_name, @member.profile.full_name, disabled: true, size: (@member.profile.full_name.length + 4) %>
        <% else %>
            <%=render partial: 'common/profile_autocomplete', 
                locals: {
                    owner_profile: @member.owner,
                    profile_id_field: 'member_profile_id', 
                    profile_id_name: 'member[profile_id]'}%>
        <% end %>

    </div>
    <%= f.input :relationship %>
    
    <%if params[:action] == 'edit'%>
        <%= f.button :submit, 'Save', data: {disable_with: "Saving...."} %>
    <% else %>
        <%= f.button :submit, 'Save', disabled: true, data: {disable_with: "Saving...."} %>
    <% end %>
    </fieldset>

  <% end %>
</div>