<div id="address_form_container">

  <%= simple_form_for @member, html: {id: 'new_member_form', class: 'span-14', remote: params[:remote]} do | f | %>

    <h3 class="titleize">
    Add Member
    </h3>

    <%= f.hidden_field :group_id %>

    <fieldset>
    <legend><%=@member.owner.try :full_name%></legend>

    
    <%= f.input :profile_id, label: 'Profile', collection: @member.owner.non_members, 
        value_method: :id, label_method: :full_name, include_blank: false%> 
    <%= f.input :relationship %>
        
    <%= f.button :submit, 'Save', data: {disable_with: "Saving...."} %>
    </fieldset>

  <% end %>
</div>