<tr id="member_<%=member.id%>">
  <td>
	 <%=member.profile.full_name%>
  </td>
  <td>
    <%=member.relationship%>
  </td>
  <td class="w-2">
    <%=link_to edit_img, edit_member_path(member, source: 'show', remote: true), class: 'add_overlay', remote: true %>
  </td>
  <td class="w-2">
    <%=link_to delete_img, member, remote: true, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete?"} %>
  </td>
</tr>