<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Account Name' %> <%= f.text_field :name, class: 'focus_on_toggle' %>
    <%= f.submit %> 
    <%= link_to 'Hide', '', id: "hide_create_account_form_link" %>
  </div>
    <%= f.hidden_field :profile_id %>
<% end %>