<div id="section_title">
All Clients
</div>
<div id="section_controls">
<%=link_to 'Add Corporate', '', class: 'add_fields'%>
<%=link_to 'Add Individual', '', class: 'add_fields'%> 
</div>
<div id="section_content">
<table class="section_table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr class="<%=cycle('odd','even')%>">
        <td class="view">
          <div>
          <%= link_to 'View Details', account.profile, class: 'view_details' %>
          </div>
        </td>
        <td><%= account.name %></td>
        <td><%= account.profile.email if account.profile %></td>
        <td><%= account.profile.phones.first.try :display %></td>
        <td><%= truncate account.profile.addresses.first.try(:display) %></td>
        <td><%= link_to 'X', account, method: :delete, class: "remove_fields", data: { confirm: "Delete Account '#{account.name}'?" } %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="table_botom_spacer">&nbsp</div>

</div>

<!--%= link_to 'New Account', new_account_path %-->