<h1>Travel Accounts</h1>

<div id="help">
A Travel Account is used for booking different kinds of services. </br>
To create a Travel Account select a profile from the <%= link_to 'Traveller Profiles', profiles_path %> or <%= link_to 'Corporate Profiles', corporate_index_profiles_path%> page.
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Profile</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to 'View', account.profile %></td>
        <td><%= account.name %></td>
        <td><%= account.profile.full_name if account.profile %></td>
        <td><%= link_to 'X', account, method: :delete, class: "remove_fields", data: { confirm: "Delete Account '#{account.name}'?" } %>
    </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--%= link_to 'New Account', new_account_path %-->